.text-field:disabled {
    -fx-opacity: 1.0;
    -fx-text-box-border: transparent;
    -fx-background-color: transparent;
}

/* does not work */
.combo-box-base:disabled {
    -fx-opacity: 1.0;
    -fx-text-box-border: transparent;
    -fx-background-color: transparent;
}

.combo-box-base:disabled .arrow-button {
    -fx-opacity: 0.0;
}

.combo-box-base:disabled .list-cell {
    -fx-opacity: 1.0;
}

.text-area:disabled {
    -fx-opacity: 1.0;
    -fx-text-box-border: transparent;
    -fx-background-color: transparent;
}

.text-area:disabled .content {
    -fx-opacity: 1.0;
    -fx-text-box-border: transparent;
    -fx-background-color: transparent;
}

.button:disabled {
    -fx-opacity: 0.0;
}