#side-tabs {
    -fx-tab-min-height: 52;
    -fx-tab-max-height: 52;
    -fx-tab-min-width: 52;
    -fx-tab-max-width: 52;
}

#side-tabs .img-tab:selected {
    -fx-background-color: #c8c8c8 /*#cfcfcf*/;
    -fx-color: transparent;
    -fx-background-radius: 0;
}

#side-tabs .img-tab:selected .focus-indicator {
    -fx-border-width: 0;
}

#side-tabs .img-tab {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
}

#side-tabs > .tab-header-area > .tab-header-background {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    /*-fx-effect: innershadow(two-pass-box , transparent , 0, 0, 0 , 0);*/
}
#side-tabs > .tab-header-area {
    -fx-background-color: #e5e5e5;
    -fx-border-color: #c8c8c8;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
    -fx-padding: 0;
}